{% macro full(priceHT, priceTTC, priceHTCrossed, currency) %}
    <div class="pricing">
        <span class="price">
            {{ getIntMoney(priceHT) }} <sup>{{ getCentMoney(priceHT) }}</sup> {{ currency }} HT
        </span>
        {% if priceHTCrossed is not null %}
            <span class="price price-crossed">
                {{ getIntMoney(priceHTCrossed) }} <sup>{{ getCentMoney(priceHTCrossed) }}</sup> {{ currency }} HT
            </span>
        {% endif %}
        <span class="price price-ttc">
            {{ getIntMoney(priceTTC) }} <sup>{{ getCentMoney(priceTTC) }}</sup> {{ currency }} TTC
        </span>
    </div>
{% endmacro %}
